<div class="container">
    <div class="row">
        <div class="col">
            <label  class="form-label">ID:</label>
        </div>
        <div class="col">
            <input type="text" placeholder="帳號" [(ngModel)]="input">
        </div>
        <div class="col">
            <label  class="form-label">PassWord:</label>
        </div>
        <div class="col">
            <input type="password" placeholder="密碼" [(ngModel)]="password"> 
        </div>
        <div class="col">
            <button type="button" class="btn" (click)="onLogin()">log in</button>
        </div>
    </div>
</div>
<div class="mb-3">


</div>